* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: Impact;
}

.homediv {
    align-items: center;
    justify-content: center;
    display: grid;
    text-align: center;
    display:inherit;
    font-size:x-large;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #702082;
    display: flex;
    padding: 10px;
    font-family: Impact;
    width: 100%;
    top: 0;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 0.5em;
    text-align: right;
}

 a{
    text-decoration: none;
    color: #f16896;
    font-size: x-large;
    
}

.vol {
    padding-top: 8px;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
    background-image: url('https://www.tacobell.com/medias/Taco-Bell-Wallpapers.jpg?context=bWFzdGVyfHJvb3R8MTM5NTU5fGltYWdlL2pwZWd8aDIwL2g5ZS84OTI3MTk4MDE5NjE0LmpwZ3xiYWM2YWFlNDFlNzA1YTJkNmE5MDU3NzFmNTkyOGRlZGM5M2FmZGRlZmU1NTFjMDZiYmU0NTU4YTI2MTk2NTli');
    height: 100px;
    color: white;
}

.pet-image {
    height: 270px;
    width: 340px;
    border: 2px solid black;
}
.pet-grid {
    flex-wrap:inherit;
    justify-content: space-evenly;
  }
  
  .pet-card {
    background-image: url('https://www.tacobell.com/images/2019-Blog-Wallpaper-10.jpg');
    border-radius: 0.5em;
    margin: 1em;
    color: white;
    font-family: 'Georgia';
    border: 2px solid black;
  }

  .delete-button {
      height: 20px;
      position: relative;
      top: 61px;
  }

  .delete-button, .submit-button {
      background-color: rgb(10, 169, 218);
      cursor: pointer;
  }
  .submit-button:hover {
    background-color: rgb(9, 191, 247);
  }
  .delete-button:hover {
    background-color: rgb(9, 191, 247);
  }
