* {
    padding: 0;
    margin:0;
    box-sizing: border-box;
    /* background-image: url("https://www.tacobell.com/images/2019-Blog-Wallpaper-10.jpg"); */
}

.homediv {
    align-items: center;
    justify-content: center;
    display: grid;
    text-align: center;
    /* background-image: url("https://www.tacobell.com/images/2019-Blog-Wallpaper-10.jpg") ; */
    display:inherit;
}

.navbar {
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: #702082;
    min-height: 2em;
    display: flex;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 0.5em;
    text-align: right;
}

.vol {
    padding-top: 8px;
    margin: 3px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 2px;
}

.pet-image {
    height: 250px;
    width: 320px;
}
.pet-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .pet-card {
    padding: 1em;
    width: 18em;
    height: 15em;
    background-image: url('https://www.tacobell.com/images/2019-Blog-Wallpaper-10.jpg');
    border-radius: 0.5em;
    margin: 1em;
    justify-content: space-around;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.527);
    color: black;
    font-family: 'Georgia';
  }